**/.DS_Store

ear/src/main/webapp/WEB-INF/lib/
ear/target/
ear/src/main/webapp/WEB-INF/lib/**
ear/target/**
ear/.***
ear.***/**
node_modules
.nvm/**
.nvm
.pipeline/out/**
.pipeline/out
.nvmrc
**/settings.xml
**/settings-security.xml
.vscode


